<!--==================================================-->
<!----- start visapro Header  Area ----->
<!--==================================================-->
<div class="header-area transparent" id="sticky-header">
  <div class="container">
    <div class="m-logo">
      <a href="#"><span class="logo-txt"></span></a>
    </div>
    <div class="menu-toggle">
      <span class="open_bar"><i class="fas fa-bars"></i></span>
      <span class="close_bar"><i class="fas fa-times"></i></span>
    </div>
    <div class="menu-wrapper">
      <div class="row align-items-center d-flex">
        <div class="col-lg-2">
          <div class="header-logo">
            <%= link_to "#{image_tag("360-logo2.png")}".html_safe, root_path, class: 'main-logo' %>
            <%= link_to "#{image_tag("360-logo2.png")}".html_safe, root_path, class: 'stiky-logo' %>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="header-menu">
            <ul>
              <li>
                <%= link_to t('about.index.home'), root_path%>
              </li>
              <li><%= link_to t('countries.index.countries'), countries_path %><span><i class="fas fa-angle-down"></i></span><span class="mobile-menu-icon"><i class="fas fa-angle-right"></i></span>
                <div class="sub-menu">
                    <ul>
                    <% @countries.each do |country| %>
                      <li><%= link_to country.name, country %></li>
                    <% end %>
                    </ul>
                </div>
              </li>
              <li><%= link_to t('countries.index.Programs'), programs_path%><span><i class="fas fa-angle-down"></i></span><span class="mobile-menu-icon"><i class="fas fa-angle-right"></i></span>
                <div class="sub-menu">
                  <ul>
                    <li><%= link_to t('home.index.citizenship'), programs_path %></li>
                    <% @citizenship.each do |citizenship| %>
                      <li><%= link_to citizenship.name, citizenship %></li>
                    <% end %> 
                    <li><%= link_to t('home.index.RESIDENCY'), programs_path %></li>
                    <% @residency.each do |residency| %>
                      <li><%= link_to residency.name, residency %></li>
                    <% end %>     
                  </ul>
                </div>
              </li>
              <li>
                <%= link_to t('bottom_header.Residences'), residences_path %>
              </li>
              <li>
                <%= link_to t('bottom_header.Blog'), blog_path %>
              </li>
              <li>
                <%= link_to t('bottom_header.About'), abouts_path %>
              </li>
              <li>
                <%= link_to t('bottom_header.Contact'), contacts_path %>
              </li>
              <li><%= link_to t('bottom_header.Account'), programs_path%><span><i class="fas fa-angle-down"></i></span><span class="mobile-menu-icon"><i class="fas fa-angle-right"></i></span>
                <div class="sub-menu">
                  <ul>
                    <% if user_signed_in? %>
                      <% if current_user.try(:admin?) %>
                        <li>
                          <%= link_to 'administrator', '#', style: "color: red" %>
                        </li>
                        <li>
                          <%= link_to 'API', '/oauth/applications', style: "color: blue" %>
                        </li>

                      <% end %>
                      <li>
                        <a href="#">
                          <%= t('bottom_header.Welcome')%> <%= current_user.email %>
                        </a>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.Out'), destroy_user_session_path, method: :delete %>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.Edit'), edit_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.Likes'), likes_path %>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.Views'), views_path %>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.Likes'), compares_path %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to t('bottom_header.In'), new_user_session_path %>
                      </li>
                      <li>
                        <%= link_to t('bottom_header.up'), new_user_registration_path %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
              <li><a href="#"><%= t('bottom_header.Language')%></a><span><i class="fas fa-angle-down"></i></span><span class="mobile-menu-icon"><i class="fas fa-angle-right"></i></span>
                <div class="sub-menu">
                  <ul>
                    <% I18n.available_locales.each do |locale| %>
                      <li>
                        <%= link_to locale, root_path(locale: locale) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
              <li>
                <div class="header-src-btn">
                  <div class="search-box-btn search-box-outer"><i class="fas fa-search"></i></div>
                </div>
                <div class="sub-menu">
                  <div class="widget-area">
                    <div class="search widget-item">
                      <form action="/search">
                        <input name="q" type="text" class="form-control" placeholder=<%=t('residences.search')%>>
                        <button type="submit" class="btn">
                          <i class='bx bx-search'></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="mobile-menu-social-icon d-lg-none mt-40">
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
