<meta charset="UTF-8">

<!--==================================================-->
<!----- Start Visapro----Footer---- Area ----->
<!--==================================================-->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-logo">
            <%= link_to "#{image_tag("360-logo2.png")}".html_safe, root_path, class: 'main-logo' %>
          </div>
          <div class="dreamit-footer-content">
            <p><%= t('footer.find') %></p>
          </div>
          <div class="dreamit-footer-social-address">
            <ul>
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2><%= t('footer.links') %></h2>
          </div>
          <div class="footer-menu">
            <ul>
              <li><%= link_to t('footer.countries'), countries_path%></li>
              <li><%= link_to t('footer.programs'), programs_path%></li>
              <li><%= link_to t('footer.residences'), residences_path %></li>
              <li><%= link_to t('footer.blog'), blog_path %></li>
              <li><%= link_to t('footer.abouts'), abouts_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2><%= t('footer.address') %></h2>
            <p><%= t('footer.360NPAC') %></p>
          </div>
          <div class="footer-adderss">
            <p><b>address:</b> <span><%= t('footer.portugal') %></span></p>
            <p><b>Telephone:</b><a href="tel:+351 912 943 942"> <span>+351 912 943 942</span></a></p>
            <p><b>Email:</b> <a href="mailto:info@360npac.com"><span>info@360npac.com</span></a></p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2>Contact Us</h2>
            <p>Want a free consultation?</p>
            <p>We advise on the best program for you and your family</p>
          </div>
          <div class="online-visa-button">
            <%=link_to 'Get More', contacts_path%>
          </div>
        </div>
      </div>
    </div>
    <div class="row  align-items-center bd-top-footer pt-15">
      <div class="col-lg-6 col-md-6">
        <div class="copy-right-text">
          <p><%= t('footer.copyright') %></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="footer-text-menu">
          <ul>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#"><%= t('footer.privacy') %></a></li>
            <li><a href="#"><%= t('footer.services') %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- scrollup section -->
<div class="scroll-area">
  <div class="top-wrap">
    <div class="go-top-btn-wraper">
      <div class="go-top go-top-button">
        <i class="fas fa-arrow-up"></i>
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
  </div>
</div>