<meta charset="UTF-8">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">360NPAC Immigration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Residences', residences_path, class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Countries
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @countries.each do |country| %>
              <li><%= link_to country.name, country, class: 'dropdown-item' %></li>
            <% end %>
          </ul>

          <ul class="nav">
            <li class="dropdown">
              <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-black p-0 ms-lg-1 me-lg-1 mt-1 mb-1 mb-lg-0',
                          data: { "bs-toggle": 'dropdown' } do %>
                <%= tag.div '', class: "flag #{I18n.locale}-flag mt-1" %>
                <%= t I18n.locale %>
              <% end %>

              <ul class="dropdown-menu">
                <% I18n.available_locales.each do |locale| %>
                  <li>
                    <% if I18n.locale == locale %>
                      <%= tag.span t(locale), class: 'dropdown-item' %>
                    <% else %>
                      <%= link_to t(locale), url_for(locale: locale),
                                  class: 'dropdown-item' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @programs.each do |program| %>
              <li><%= link_to program.name, program, class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog', blog_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>
                <li class="nav-item">
                  <%= link_to 'administrator', '#', style: "color: red" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'API', '/oauth/applications', style: "color: blue" %>
                </li>

              <% end %>
              <li class="nav-item">
                <a href="#">
                  Welcome, <%= current_user.email %>
                </a>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit', edit_user_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'Likes', likes_path, class: "nav-link active"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Views', views_path, class: "nav-link active"%>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sing In', new_user_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
            <% end %>

          </ul>
        </li>
      </ul>
      <form class="d-flex" action="/search">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!--==================================================-->
<!----- start visapro Header Top Menu Area ----->
<!--==================================================-->
<div class="header-top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="header-top-address">
          <ul>
            <li><a href="#"><i class="far fa-envelope"></i> example@gmail.com</a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i> 24/5, 1st Floor, Kurigram</a></li>
            <li><a href="#"><i class="fas fa-phone"></i> + (1800) 456 7890</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hrader-top-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
