<%= form_with model: [@residence, @residence.likes.build] do |f| %>
  <% if current_user %>
    <% if @like.present? %>
      <div class="actions">
        <%= f.submit 'â¤ï¸', class: 'btn btn-black' %>
      </div>
    <% else %>
      <div class="actions">
        <%= f.submit 'ðŸ–¤', class: 'btn btn-black' %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Sign Up", new_author_path %> or
    <%= link_to "Log In", new_session_path %>
  <% end %>
<% end %>