<!--==================================================-->
<!----- start visapro slider Area ----->
<!--==================================================-->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slider-property1.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white"><%= t('home.index.caption1')%> </h3>
        <h1 class="text-white"><%= t('home.index.caption2')%></h1>
        <div class="slider-button pt-30">
          <%=link_to t('home.index.consultation_qw'), contacts_path%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property2.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white"><%= t('home.index.caption1')%> </h3>
        <h1 class="text-white"><%= t('home.index.caption2')%></h1>
        <div class="slider-button pt-30">
          <%=link_to t('home.index.consultation_qw'), contacts_path%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property3.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white"><%= t('home.index.caption1')%> </h3>
        <h1 class="text-white"><%= t('home.index.caption2')%></h1>
        <div class="slider-button pt-30">
          <%=link_to t('home.index.consultation_qw'), contacts_path%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property4.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white"><%= t('home.index.caption1')%> </h3>
        <h1 class="text-white"><%= t('home.index.caption2')%></h1>
        <div class="slider-button pt-30">
          <%=link_to t('home.index.consultation_qw'), contacts_path%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property5.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white"><%= t('home.index.caption1')%> </h3>
        <h1 class="text-white"><%= t('home.index.caption2')%></h1>
        <div class="slider-button pt-30">
          <%=link_to t('home.index.consultation_qw'), contacts_path%>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t('home.index.previous')%></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t('home.index.next')%></span>
  </button>
</div>


<!--==================================================-->
<!----- start visapro about- Area ----->
<!--==================================================-->

<div class="about-area style-four upper pb-90 pt-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row">
          <%= render 'orders/form_for_home' %>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="dreamit-section-title pb-15">
          <div class="dreamit-section-sub-title">
            <h5><%= t('home.index.about')%></h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1><%= t('home.index.360NPAC')%></h1>
            <h2><%= t('home.index.firm')%></h2>
          </div>
          <div class="dreamit-section-bar"></div>
          <div class="dreamit-content-text">
            <p><%= t('home.index.advise')%></p>
          </div>
          <div class="dreamit-section-bold-text pt-15">
            <p><%= t('home.index.onboard')%></p>
          </div>
          <div class="dreamit-section-bold-text pt-15">
            <p><%= t('home.index.assist')%></p>
          </div>
          <div class="dreamit-section-bold-text pt-15">
            <p><%= t('home.index.granted')%></p>
          </div>
          <div class="dreamit-content-text-inner">
            <p><%= t('home.index.continue')%></p>
          </div>
        </div>
        <div class="about-btn pt-30">
          <%= link_to t('home.index.read_more'), abouts_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==================================================-->
<!----- start visapro country----- Area ----->
<!--==================================================-->

<div class="country-section-title-area pt-70 pb-200">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dreamit-section-title pb-30 text-center">
          <div class="dreamit-section-sub-title">
            <h5><%= t('home.index.country_choose')%></h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1 class="text-white"><%= t('home.index.immigration_choose')%></h1>
            <h2 class="text-white"><%= t('home.index.your_country')%></h2>
          </div>
          <div class="dreamit-section-bar center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="country-area style-two upper pb-85">
  <div class="container">
    <div class="row mar-top">
      <% @countries.sample(3).each do |country| %>
        <div class="col-lg-4 col-md-6">
          <div class="dreamit-country-box">
            <div class="dreamit-country-thumb">
              <%= link_to image_tag(country.image, width: '200', class: "mx-auto d-block"), country  %>
            </div>
            <div class="country-flag-img">
              <%= image_tag(country.flag, alt: "about")%>
            </div>
            <div class="country-content">
              <div class="country-title pt-3">
                <h2><%= link_to country.name, country %></h2>
              </div>
              <div class="country-content-text">
                <p><%= truncate(strip_tags(country.content.to_s), length: 120) %></p>
              </div>
              <div class="country-button">
                <%= link_to 'Read more >', country, class: 'btn'  %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          <div class="section-content text-center">
            <p><%= t('home.index.most_trusted')%> <%= link_to t('home.index.view_all'), countries_path%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--==================================================-->
  <!--start country section area-->
  <!--==================================================-->


  <div class="country-section pt-110 pb-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="dreamit-section-title pb-30 text-center">
            <div class="dreamit-section-sub-title">
              <h5><%= t('home.index.vise_category')%></h5>
            </div>
            <div class="dreamit-section-main-title">
              <h1><%= t('home.index.im_choose')%></h1>
              <h2 class="text-black"><%= t('home.index.vise_serv')%></h2>
            </div>
            <div class="dreamit-section-bar center mt-3"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-3">
          <div class="single-country-box">
            <div class="single-country-thumb">
              <%= image_tag("passports3.jpg.png", alt: "about")%>
              <div class="country-content">
                <div class="country-title">
                  <h2><%= t('home.index.citizenship')%></h2>
                </div>
                  <div class="country-title">
                    <p class="text-white"> <%= t('home.index.citizenship_info')%> </p>
                    <div class="country-button">
                      <%= link_to t('home.index.learn_more'), programs_path %>
                    </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-3">
          <div class="single-country-box">
            <div class="single-country-thumb">
              <%= image_tag("1637775273_3-krot-info-p-krasivaya-semya-na-more-peizazh-krasivoe-f-3.jpg", alt: "about")%>
              <div class="country-content">
                <div class="country-title">
                  <h2><%= t('home.index.RESIDENCY')%></h2>
                </div>
                <div class="country-title">
                  <p class="text-white"><%= t('home.index.RESIDENCY_info')%></p>
                  <div class="country-button">
                    <%= link_to t('home.index.learn_more'), programs_path %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--==================================================-->
<!----- start visapro----contact---- Area ----->
<!--==================================================-->

<div class="online-visa-area style-two">
  <div class="container">
    <div class="row online-visa-bx align-items-center">
      <div class="col-lg-5 pl-0">
        <div class="dreamit-online-visa-thumb">
          <%= image_tag("2747370904.jpg", alt: "about")%>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="dreamit-online-visa-box pl-40">
          <div class="dreamit-online-visa-title">
            <h2><%= t('home.index.free_viza')%></h2>
          </div>
          <div class="dreamit-online-visa-content">
            <p><%= t('home.index.free_consul')%></p>
          </div>
          <div class="online-visa-button">
            <%=link_to t('home.index.get_free'), contacts_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--==================================================-->
<!--start testimonial  area-->
<!--==================================================-->

<div class="testimonial-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow slideInUp animated" data-wow-delay="ms" data-wow-duration="1500ms">
        <div class="dreamit-section-title pb-30 text-center">
          <div class="dreamit-section-sub-title">
            <h5><%= t('home.index.clients_rev')%></h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1 class="text-black"><%= t('home.index.clients')%></h1>
            <h2 class="text-black"><%= t('home.index.saying_about')%></h2>
          </div>
          <div class="dreamit-section-bar center mt-3"></div>
        </div>
      </div>
    </div>
    <div class="row pt-10">
      <div class="testimonials_list4 owl-carousel">
        <% @testimonials.each do |testimonial| %>
        <div class="col-lg-12 wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="single-testimonial-box">
            <div class="testimonial-content">
              <div class="testimonial-icon">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="testimonial-content-text">
                <p>
                  <%= testimonial.content %>
                </p>
              </div>
            </div>
            <div class="testimonial-content-inner d-flex align-items-center">
              <div class="testi-title">
                <h2> <%= testimonial.name_of_user %> </h2>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--==================================================-->
<!--start visapro BLOG Area-->
<!--==================================================-->

<div class="blog-area style-three upper2 pt-80 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="dreamit-section-main-title">
          <h1><%= t('home.index.business_innovation')%></h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="title-content">
          <p><%= t('home.index.enjoy')%></p>
        </div>
      </div>
    </div>
    <div class="row pt-30">
      <div class="blog_list5 owl-carousel">
        <% @posts.each do |post| %>
        <div class="col-lg-12">
          <div class="dreamit-single-blog-box">
            <div class="dreamit-blog-thumb">
              <%= link_to image_tag(post.image, width: '200', class: "mx-auto d-block"), post  %>
              <div class="post-catgory">
                <h5 class="text-white"><%= post.created_at.strftime("%b %d, %Y") %> </h5>
              </div>
            </div>
            <div class="dreamit-blog-content">
              <div class="dreamit-blog-title">
                <h6>
                  <%= link_to post.name, post %>
                </h6>
              </div>
              <div class="dreamit-blog-text">
                <p><%= truncate(strip_tags(post.content.to_s), length: 120) %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
