<!--==================================================-->
<!----- start visapro slider Area ----->
<!--==================================================-->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slider-property1.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Best Visa Consultation</h4>
        <h2 class="text-white">From 15 Years In Expert </h2>
        <h1 class="text-white">Visa & Immigration</h1>
        <div class="slider-button pt-30">
          <a class="slider-active" href="contact">Make An Appointment</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property2.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Best Visa Consultation</h4>
        <h2 class="text-white">From 15 Years In Expert </h2>
        <h1 class="text-white">Visa & Immigration</h1>
        <div class="slider-button">
          <a class="slider-active" href="contact">Make An Appointment</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property3.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Best Visa Consultation</h4>
        <h2 class="text-white">From 15 Years In Expert </h2>
        <h1 class="text-white">Visa & Immigration</h1>
        <div class="slider-button">
          <a class="slider-active" href="contact">Make An Appointment</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property4.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Best Visa Consultation</h4>
        <h2 class="text-white">From 15 Years In Expert </h2>
        <h1 class="text-white">Visa & Immigration</h1>
        <div class="slider-button">
          <a class="slider-active" href="contact">Make An Appointment</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider-property5.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Best Visa Consultation</h4>
        <h2 class="text-white">From 15 Years In Expert </h2>
        <h1 class="text-white">Visa & Immigration</h1>
        <div class="slider-button">
          <a class="slider-active" href="contact">Make An Appointment</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--==================================================-->
<!----- start visapro about- Area ----->
<!--==================================================-->

<div class="about-area style-four upper pb-90 pt-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row" id="turbo2">
          <%= render 'orders/form_for_home' %>
        </div>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="dreamit-section-title pb-15">
          <div class="dreamit-section-sub-title">
            <h5>ABOUT US</h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1>25+ Experiences In Visa &</h1>
            <h2>Immigration Firm</h2>
          </div>
          <div class="dreamit-section-bar"></div>
          <div class="dreamit-content-text">
            <p>Sponsoring and managing work visas parts now becoming results in the experience.</p>
          </div>
          <div class="dreamit-section-bold-text pt-15">
            <p>Duis nunc sodales conubia ad laoreet aliquet nostra. Eleifend lacinia and prasent hendrerit quisque penatibus erat. At pulvinar integer semper the ridiculus lectus condimentum obor tise verodar capmtaso morin prointer nibh posuere lorente focusing.</p>
          </div>
          <div class="dreamit-content-text-inner">
            <p>The Most Trusted Immigration and Visa Consultant. There are locations in the United states of america as well as internationally.</p>
          </div>
        </div>
        <div class="about-btn pt-30">
          <%= link_to 'read more >', about_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==================================================-->
<!----- start visapro country----- Area ----->
<!--==================================================-->

<div class="country-section-title-area pt-70 pb-200">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dreamit-section-title pb-30 text-center">
          <div class="dreamit-section-sub-title">
            <h5>CHOOSE COUNTRY</h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1 class="text-white">Immigration - Choose</h1>
            <h2 class="text-white">Your Country!</h2>
          </div>
          <div class="dreamit-section-bar center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="country-area style-two upper pb-85">
  <div class="container">
    <div class="row mar-top">
      <% @countries.sample(3).each do |country| %>
        <div class="col-lg-4 col-md-6">
          <div class="dreamit-country-box">
            <div class="dreamit-country-thumb">
              <%= link_to image_tag(country.image, width: '200', class: "mx-auto d-block"), country  %>
            </div>
            <div class="country-flag-img">
              <%= image_tag(country.flag, alt: "about")%>
            </div>
            <div class="country-content">
              <div class="country-title pt-3">
                <h2><%= link_to country.name, country %></h2>
              </div>
              <div class="country-content-text">
                <p><%= truncate(strip_tags(country.content.to_s), length: 120) %></p>
              </div>
              <div class="country-button">
                <%= link_to 'Read more >', country, class: 'btn'  %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          <div class="section-content text-center">
            <p>The Most Trusted Immigration and Visa Consultant. <%= link_to 'View All Countries !', countries_path%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--==================================================-->
  <!--start country section area-->
  <!--==================================================-->


  <div class="country-section pt-110 pb-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="dreamit-section-title pb-30 text-center">
            <div class="dreamit-section-sub-title">
              <h5>VISA CATEGORY</h5>
            </div>
            <div class="dreamit-section-main-title">
              <h1>Choose Your Immigration</h1>
              <h2 class="text-black">Visa Services</h2>
            </div>
            <div class="dreamit-section-bar center mt-3"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-3">
          <div class="single-country-box">
            <div class="single-country-thumb">
              <%= image_tag("passports3.jpg.png", alt: "about")%>
              <div class="country-content">
                <div class="country-title">
                  <h2>CITIZENSHIP</h2>
                </div>
                  <div class="country-title">
                    <p class="text-white"> citizenship-by-investment programs enable families to obtain an alternative second citizenship that provides them with many exciting benefits and opportunities in different desirable countries around the world.</p>
                    <div class="country-button">
                      <%= link_to 'Learn more', programs_path %>
                    </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-3">
          <div class="single-country-box">
            <div class="single-country-thumb">
              <%= image_tag("1637775273_3-krot-info-p-krasivaya-semya-na-more-peizazh-krasivoe-f-3.jpg", alt: "about")%>
              <div class="country-content">
                <div class="country-title">
                  <h2>RESIDENCY</h2>
                </div>
                <div class="country-title">
                  <p class="text-white"> Residency Programs allow high networth and qualified individuals to obtain residency visas and live in a desired host country without requiring the country’s citizenship.</p>
                  <div class="country-button">
                    <%= link_to 'Learn more', programs_path %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--==================================================-->
<!----- start visapro----contact---- Area ----->
<!--==================================================-->

<div class="online-visa-area style-two">
  <div class="container">
    <div class="row online-visa-bx align-items-center">
      <div class="col-lg-5 pl-0">
        <div class="dreamit-online-visa-thumb">
          <%= image_tag("ass.jpg", alt: "about")%>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="dreamit-online-visa-box pl-40">
          <div class="dreamit-online-visa-title">
            <h2>Free Online Visa Assessment</h2>
          </div>
          <div class="dreamit-online-visa-content">
            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam.</p>
          </div>
          <div class="online-visa-button">
            <a href="#">Get Free Assessment <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--==================================================-->
<!--start testimonial  area-->
<!--==================================================-->

<div class="testimonial-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow slideInUp animated" data-wow-delay="ms" data-wow-duration="1500ms">
        <div class="dreamit-section-title pb-30 text-center">
          <div class="dreamit-section-sub-title">
            <h5>CLIENTS REVIEWS</h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1 class="text-black">What Customers</h1>
            <h2 class="text-black">Saying About VisaPro</h2>
          </div>
          <div class="dreamit-section-bar center mt-3"></div>
        </div>
      </div>
    </div>
    <div class="row pt-10">
      <div class="testimonials_list4 owl-carousel">
        <% @testimonials.each do |testimonial| %>
        <div class="col-lg-12 wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="single-testimonial-box">
            <div class="testimonial-content">
              <div class="testimonial-icon">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="testimonial-content-text">
                <p>
                  <%= testimonial.content %>
                </p>
              </div>
            </div>
            <div class="testimonial-content-inner d-flex align-items-center">
              <div class="testi-title">
                <h2> <%= testimonial.name_of_user %> </h2>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--==================================================-->
<!--start visapro BLOG Area-->
<!--==================================================-->

<div class="blog-area style-three upper2 pt-80 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="dreamit-section-main-title">
          <h1>Our Business Innovation!</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="title-content">
          <p>Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa.</p>
        </div>
      </div>
    </div>
    <div class="row pt-30">
      <div class="blog_list5 owl-carousel">
        <% @posts.each do |post| %>
        <div class="col-lg-12">
          <div class="dreamit-single-blog-box">
            <div class="dreamit-blog-thumb">
              <%= link_to image_tag(post.image, width: '200', class: "mx-auto d-block"), post  %>
              <div class="post-catgory">
                <a><h5><%= post.created_at.strftime("%b %d, %Y") %> </h5></a>
              </div>
            </div>
            <div class="dreamit-blog-content">
              <div class="dreamit-blog-title">
                <h6>
                  <%= link_to post.name, post %>
                </h6>
              </div>
              <div class="dreamit-blog-text">
                <p><%= truncate(strip_tags(post.content.to_s), length: 120) %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
