<div class="col-lg-6 pl-0 pr-0">
  <div class="contact_from_box">
    <div class="contact_title pb-4">
      <h3>Get In Touch</h3>
    </div>
    <%= form_for Order.new do |f| %>

      <div class="row">
        <div class="col-lg-6">
          <div class="form_box mb-30">
            <%= f.label :name %>
            <%= f.text_field :name, required: true, placeholder: "Name" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form_box mb-30">
            <%= f.label :phone %>
            <%= f.text_field :phone, required: true, placeholder: "Phone Number"  %>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form_box mb-15">
            <p>What Messenger Can We Contact You</p>
            <%= f.select :messenger, [['Telegram', :telegram], ['Viber', :viber], ['Messenger', :messenger]], {}, {class:"form-select"} %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form_box mb-30">
            <%= f.label :info %>
            <%= f.text_area :info, required: true, placeholder: "Your question..."%>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="quote_btn">
            <button class="btn" type="submit">Send Request</button>
          </div>
        </div>
      </div>
    <% end %>
    <p class="form-message"></p>
  </div>
</div>
