
  <div class="row">
    <div class="contact_from_box">
      <div class="contact_title pb-4">
        <h3><%= t('orders.Want')%></h3>
      </div>

        <%= form_with model: [@residence, Order.new] do |f| %>
          <div class="col-lg-12">
            <div class="form_box mb-15">
              <%= f.label :name %>
              <%= f.text_field :name, required: true, placeholder: "Name" %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form_box mb-15">
              <%= f.label :phone %>
              <%= f.text_field :phone, required: true, placeholder: "Phone Number"  %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form_box mb-15">
              <p><%= t('orders.Messenger')%></p>
              <%= f.select :messenger, [['Telegram', :telegram], ['Viber', :viber], ['Messenger', :messenger]], {}, {class:"form-select"} %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form_box mb-15">
              <%= f.label :info %>
              <%= f.text_area :info, required: true, placeholder: "Your question...", row: 2 %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="quote_btn">
              <button class="btn" type="submit"><%= t('orders.Request')%></button>
            </div>
          </div>

          <p class="form-message"></p>
          </div>
          </div>
        <% end %>
    </div>
  </div>
