<div class="breatcome-area d-flex align-items-center">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-lg-12">
        <div class="breatcome-content text-center">
          <div class="breatcome-content-title">
            <h1><%= @contact.location %></h1>
          </div>
          <div class="breatcome-content-text">
            <ul>
              <li><%= link_to 'Home', root_path, class: "nav-link active" %><i class="fas fa-chevron-right"></i> <span><%= link_to 'All branches', contacts_path %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==================================================-->
<!--start contact details Area-->
<!--==================================================-->

<p id="notice"><%= notice %></p>

<!--==================================================-->
<!----- start visapro appointment Area ----->
<!--==================================================-->
<div class="appointment-area style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pl-0 pr-0">

          <div id="turbo2">
            <%= render 'orders/form_for_contact' %>
          </div>
          <p class="form-message"></p>

      </div>
      <div class="col-lg-6 pl-0 pr-0">
        <div class="cda-content">
          <div class="call-do-action-box">
            <div class="cda-single-content d-flex hr">
              <div class="cda-icon pr-4">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="cda-content-inner">
                <h4>Company Location</h4>
                <p><%= link_to @contact.location, @contact %></p>
              </div>
            </div>
          </div>
          <div class="call-do-action-box">
            <div class="cda-single-content d-flex hr">
              <div class="cda-icon pr-4">
                <i class="fas fa-tty"></i>
              </div>
              <div class="cda-content-inner">
                <h4>Telephone Number</h4>
                <p><%= link_to @contact.phone, "tel:#{@contact.phone}" %></p>
              </div>
            </div>
          </div>
          <div class="call-do-action-box">
            <div class="cda-single-content d-flex hr">
              <div class="cda-icon pr-4">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="cda-content-inner">
                <h4>Our Email Address</h4>
                <p><%= mail_to(@contact.email) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--==================================================-->
      <!----- start visapro appointment Area ----->
      <!--==================================================-->

    </div>
  </div>
</div>

