<div class="d-flex justify-content-center d-flex align-items-center">
    <%= @country.name %>
</div>

<div class="container">
  <div class="row row-cols-2">
    <% @records.each do |records| %>
      <div class="col">
        <dl>
          <dt> <%= records.name %> </dt>
          <dt> <%= records.cost %> </dt>
        </dl>
        <%= image_tag("#{records.image}") %>
        <%= link_to 'Show', records, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center d-flex align-items-center">
    <%= render 'posts/pagination', locals: { pagy: @pagy } %>
  </div>
  <div class="d-flex justify-content-center d-flex align-items-center">
    <%== pagy_info(@pagy) %>
  </div>
</div>