
<!--==================================================-->
<!----- start visapro breatcome Area ----->
<!--==================================================-->
<div class="breatcome-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breatcome-content text-center">
          <div class="breatcome-content-title">
            <h1><%= t('posts.index.blog')%></h1>
          </div>
          <div class="breatcome-content-text">
            <ul>
              <li><%= link_to t('about.index.home'), root_path, class: "nav-link active" %> <i class="fas fa-chevron-right"></i> <span><%= link_to 'Blog List', posts_path %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==================================================-->
<!----- start visapro----BLOG---- Area ----->
<!--==================================================-->

<% if @posts.empty? %>
    <div class="text-center">
      <h2><%= t('posts.index.posts_empty')%></h2>
    </div>
    <hr>
<% else %>

<div class="blog-area style-four pt-65 pb-60">
  <div class="container">
    <div class="row pt-20">
      <div class="col-lg-8">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-lg-6 col-md-6">
              <div class="dreamit-single-blog-box">
                <div class="dreamit-blog-thumb">
                  <%= link_to image_tag(post.image, width: '200', class: "mx-auto d-block"), post %>
                  <div class="post-catgory">
                    <%= link_to post.name, post %>
                  </div>
                </div>
                <div class="dreamit-meta-box">
                  <p>360NPAC</p>
                  <h3><%= t('posts.index.posted')%> <%= post.created_at.strftime("%b %d, %Y") %></h3>
                </div>
                <div class="dreamit-blog-content">
                  <div class="dreamit-blog-title">
                    <h2>
                     <%= link_to post.name, post %>
                    </h2>
                  </div>
                  <div class="dreamit-blog-text">
                     <p><%= truncate(strip_tags(post.content.to_s), length: 120) %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
<% end %>
</div>
<div class="btn-group-fluid align-items-center">
  <div class="btn about-button pt-4">
    <%= link_to t('countries.index.Posts'), posts_path %>
  </div>
  <div class="btn about-button pt-4">
    <%= link_to t('countries.index.countries'), countries_path %>
  </div>
  <div class="btn about-button pt-4">
    <%= link_to t('countries.index.Programs'), programs_path %>
  </div>
</div>
      <div class="row">
        <div class="col-lg-12">
          <div class="pagiation">
              <div class="pagination-area mt-5">
                <%= render 'posts/pagination', locals: { pagy: @pagy } %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="sidebar-box">
                <div class="widget-area">
          <div class="search widget-item">
          <form action="/search">
            <input name="q" type="text" class="form-control" placeholder=<%=t('residences.search')%>>
            <button type="submit" class="btn">
              <i class='bx bx-search'></i>
            </button>
          </form>
        </div>
      </div>
      <div class="sidebar-box">
        <div class="sidebar-title">
          <h2><%= t('posts.index.categories')%></h2>
        </div>
        <div class="dreamit-section-bar mb-20"></div>
        <div class="sidebar-category">
          <ul>
            <li><%= link_to t('posts.index.Best'), residences_path %></li>
            <li><%= link_to t('posts.index.immigration'), programs_path %></li>
            <li><%= link_to t('posts.index.Country'), countries_path %></li>
            <li><%= link_to t('posts.index.Blog'), blog_path %></li>
            <li><%= link_to t('posts.index.What'), abouts_path %></li>
          </ul>
        </div>
      </div>
        <div class="sidebar-category" id="turbo2">
          <%= render 'orders/form_for_home' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>