<h1>Listing all posts</h1>
<p>
  <%= link_to "Create new post", new_post_path %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Show', post_path(post) %></td>

    </tr>
  <% end %>
</table>