<div class="container">
  <p id="notice"><%= notice %></p>


  <p class="text-center mb-3">
    <strong>Title:</strong>
    <%= @post.name %>
  </p>

  <p class="text-center mb-3">
    <%= image_tag(@post.image, width: 500, alt: "Post image", class: "img-fluid py-4")%>
  </p>

  <p class="text-center mb-3">
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
  <hr>
  <div class="d-flex justify-content-center d-flex align-items-center">
    <h5>This post has been updated <%= distance_of_time_in_words(Time.now, @post.updated_at) %> ago.</h5>
  </div>

  <hr>
  <div class="d-flex justify-content-center d-flex align-items-center">

      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-lg" %>

    &nbsp;|&nbsp;
    <%= link_to 'Back', posts_path, class: "btn btn-secondary btn-lg" %>
  </div>
  <hr>


    <hr>
  </div>

</div>
