<p id="notice"><%= notice %></p>
<p>
  <%= @residence.name %>
</p>

<p>
  <% @residence.images.each do |image| %>
    <%= image_tag image, width: '250' %>
  <% end %>
</p>

<p>
  <%= @residence.cost %>
</p>

<div>
  <% if user_signed_in? %>
    <%= render 'orders/form' %>
  <% end %>
</div>
