<p id="notice"><%= notice %></p>
<p>
  <%= @residence.name %>
</p>

<p>
  <%= image_tag("#{@residence.image}", height: '250', width: '250') %>
</p>

<p>
  <%= @residence.cost %>
</p>

<div>
  <% if user_signed_in? %>
    <%= render 'orders/form' %>
  <% end %>
</div>
