<!--==================================================-->
<!----- start visapro breatcome Area ----->
<!--==================================================-->
<div class="breatcome-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breatcome-content text-center">
          <div class="breatcome-content-title">
            <h1>Property Details</h1>
          </div>
          <div class="breatcome-content-text">
            <ul>
              <li><a href="index.html">Home </a> <i class="fas fa-chevron-right"></i> <span>Property Details</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="property-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="details-item">
          <div class="common-img-details">
            <span><%= @residence.country.name %></span>
            <h2><%= @residence.name %></h2>
            <ul>
              <li>
                <i class='bx bx-calendar'></i>
                <%= @residence.created_at %>
              </li>
              <li>
                <i class='bx bx-current-location'></i>
                <%= @residence.address %>
              </li>
              <li>
                <i class='bx bx-coin'></i>
                <%= @residence.cost %>
              </li>
            </ul>
          </div>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% @residence.images.each_with_index do |image, index| %>
                <% active_class = 'active' if index == 0 %>
                <div class="<%= active_class %> carousel-item">
                  <div class="text-center">
                    <img class="d-block w-100" <%= image_tag image %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-center">
              <button class="position-static rounded-circle btn btn-light mx-3 px-3" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators">&#8249</button>
              <button class="position-static rounded-circle btn btn-light mx-3 px-3" data-bs-slide="next" data-bs-target="#carouselExampleIndicators">&#8250</button>
            </div>
          </div>
          <%= render 'likes/form' %>
          <div class="property-details-slider owl-theme owl-carousel">
            <% @residence.images.each do |image| %>
              <div class="slider-item">
                <%= image_tag image %>
              </div>
            <% end %>
          </div>
          <p><%= @residence.description %></p>
          <blockquote>
            <i class='bx bxs-quote-left'></i>
            “It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters”
          </blockquote>

          <div class="video-item">
            <%= image_tag("details4.jpg")%>
            <div class="video-wrap">
              <button class="js-modal-btn" data-video-id="Ynr4o0eOjdg">
                <i class='bx bx-play'></i>
              </button>
            </div>
          </div>
          <div class="information">
            <h3>Essential Information</h3>
            <ul>
              <li>
                <h4>Bed-Room</h4>
                <i class="bx bx-bed"></i>
                <%= @residence.bedroom %>
              </li>
              <li>
                <h4>Bath-Room</h4>
                <i class="bx bx-bath"></i>
                <%= @residence.bathroom %>
              </li>
              <li>
                <h4>Square-Feet</h4>
                <i class='bx bx-square'></i>
                <%= @residence.squarefeet %>
              </li>
              <li>
                <h4>Total-Room</h4>
                <i class="bx bx-building-house"></i>
                <%= @residence.rooms %>
              </li>
            </ul>
          </div>
          <div class="information-list">
            <div class="left">
              <ul>
                <% @pros.each do |pros| %>
                  <li>
                    <i class='bx bx-check'></i>
                    <%= pros %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div id="map"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget-area">
          <div class="search widget-item">
            <form>
              <input type="text" class="form-control" placeholder="Search Here...">
              <button type="submit" class="btn">
                <i class='bx bx-search'></i>
              </button>
            </form>
          </div>
          <div class="categories widget-item">
            <h3>Categories</h3>
            <ul>
              <li>
                <a href="#">Home For Sale</a>
              </li>
              <li>
                <a href="#">Home On Lease</a>
              </li>
              <li>
                <a href="#">Matching Buyer</a>
              </li>
              <li>
                <a href="#">Home For Buy</a>
              </li>
              <li>
                <a href="#">Home For Mortgage</a>
              </li>
              <li>
                <a href="#">Home For Rent</a>
              </li>
            </ul>
          </div>
          <div class="popular widget-item">
            <h3>Last Viewed Properties</h3>
            <% @views.each do |view| %>
              <div class="inner">
                <ul class="align-items-center">
                  <li>
                    <% if view.residence.images.attached? %>
                      <%= image_tag view.residence.images.first %>
                    <% end %>
                  </li>
                  <li>
                    <h4>
                      <%= link_to view.residence.name, view.residence%>
                    </h4>
                    <a class="location">
                      <i class='bx bx-current-location'></i>
                      <%= view.residence.address %>
                    </a>
                  </li>
                </ul>
              </div>
            <% end %>
          <div class="tags widget-item">
            <h3>Tags</h3>
            <ul>
              <li>
                <a href="#">Apartment</a>
              </li>
              <li>
                <a href="#">New Properties</a>
              </li>
              <li>
                <a href="#">House</a>
              </li>
              <li>
                <a href="#">Villa</a>
              </li>
              <li>
                <a href="#">Office</a>
              </li>
            </ul>
          </div>
          <div id="turbo">
            <%= render partial: 'orders/form', locals: {residence: @residence} %>
          </div>
        </div>
      </div>
    </div>
      <div class="btn-group-fluid align-items-center">
        <div class="btn about-button pt-4">
          <%= link_to 'Posts', posts_path %>
        </div>
        <div class="btn about-button pt-4">
          <%= link_to 'Countries', countries_path %>
        </div>
        <div class="btn about-button pt-4">
          <%= link_to 'Programs', programs_path %>
        </div>
      </div>
  </div>
</div>

<script>
  var map = L.map('map', {
    center: [<%= @latitude %>, <%= @longitude %>],
    keyboard: false,
    zoomControl: false,
    boxZoom: false,
    tap: false,
    touchZoom: false,
    zoom: 13
});

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
  }).addTo(map);

  var circle = L.circle([<%= @latitude %>, <%= @longitude %>], {
    color: 'blue',
    
    fillOpacity: 0.5,
    radius: 500
  }).addTo(map);

</script>

</div>