<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Residency</title>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>


    <%= javascript_include_tag "ajax-mail.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "animated-text.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "bootstrap.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "imagesloaded.pkgd.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "isotope.pkgd.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.barfiller.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.counterup.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.meanmenu.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.nivo.slider.pack.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.scrollUp", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.themepunch.revolution.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "jquery.themepunch.tools.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "main.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "owl.carousel.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "popper.min.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "slick.min", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "wow.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "vendor/jquery-3.2.1.min", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "vendor/modernizr-3.5.0.min", "data-turbo-track": "reload", defer: true %>

    <%= javascript_include_tag "https://code.jquery.com/jquery-3.5.1.slim.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" %>
    <%= stylesheet_link_tag "https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/dist/boxicons.min.js" integrity="sha512-y8/3lysXD6CUJkBj4RZM7o9U0t35voPBOSRHLvlUZ2zmU+NLQhezEpe/pMeFxfpRJY7RmlTv67DYhphyiyxBRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/v5-font-face.min.css" %>
    <%= stylesheet_link_tag "https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css", media: 'all', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" %>

  <body>
  <div class="content">
    <!--top-header-->
    <%= render 'include/home/top_header' %>
    <!--top-header-->

    <!--notifications-->
    <%= render 'include/home/notifications' %>
    <!--notifications-->

    <!--bottom-header-->
    <%= render 'include/home/bottom_header' %>
    <!--bottom-header-->


    <div>
     <%= yield %>
    </div>

    <!--footer-->
    <%= render 'include/home/footer' %>
    <!--footer-->

  </div>

  </body>
</html>
